<div class="pacifico">Welcome to Paul's Pizza! The best pizza in town!</div>
<div class="pacifico">For over 20 years Paul has been serving the area with the highest 
  quality pizzas with only the freshest ingredients. Using our family recipes, 
  our pizza and sandwiches are handmade to order. Our goal is to consistently 
  provide you with the best food at the most reasonable price you will find. 
  The quantity and quality of our ingredients can not be compromised. 
  Paul’s Pizza is pizza done right!</div>
<br>
<br>
<div class="pacifico">
    <p>Our famous Pepperoni Deluxe Pizza<a id="A"></a>
        <img src=
        "http://storage.googleapis.com/bro-cdn1/zgrid/themes/10307/images/home/pizza.png">
    </p>
</div>
