<!--The content below is only a placeholder and can be replaced.-->
<p class="header">Paul's Pizza</p>
<nav class="nav-bar">
    <a class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/about-us']">About Us</a>
    <a class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/locations']">Locations</a>
    <a class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/pizza-menu']">Menu</a>
    <a class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/check-out']">Check-out</a>
    <a class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/registration']">Registration</a>
</nav>
<router-outlet></router-outlet>
