.header {
    color: blue;   
    text-align: center;
    font-family: 'Shadows Into Light', cursive, sans-serif;
    width: 100%;
    font-size: 75px;
}

.nav-bar {
    font-size: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-item {
    text-align: center;
    margin: 5px;

}
